.profile{
    height: 50px;
    width: 50px;
    background-color: rgb(220, 82, 82);
    border-radius: 50%;
}
main{
    width: 55%;
    margin: 0 auto;
}

footer{
    background-color: rgb(245,245,245);
}
footer>.container-lg{
    padding: 30px 150px;
}
.footer-list{
    list-style: none;
    margin: 0;
}
.footer-list>li{
    display: inline;
    font-size: 0.8rem;
    padding-right: 10px;
    cursor: pointer;
}
i{
    color: blue;
    transform: scaleX(-1);
}